.venv/
.venv/
__pycache__/
*.pyc
.env
.git/
.gitignore
uploads/
output/
tokens/
google_credentials/
saved/
сервер/
docs/
README.md
job_logs.json
jobs.json
sessions.json
presets.json
users.json
client_secret.json
automation_accounts.json
